ENV=development
DEV_PORTAL_URL=https://test.portal.elemento.cloud/api/v1
PROD_PORTAL_URL=https://portal.elemento.cloud/api/v1
ELEMENTO_ACCOUNT_ENTITY=xxxxxxxxxxxxxxx
ELEMENTO_ACCOUNT_PASSWORD=xxxxxxxxxxxxxxx
ELEMENTO_SUPPORT_EMAIL_RECEIVER=support@elemento.cloud
ELEMENTO_SUPPORT_EMAIL_SENDER=elemento@ik.me
ELEMENTO_MAIL_ACCOUNT_PASSWORD=xxxxxxxxxxxxxxx
PROVIDER=your_provider
PROVIDER_REGION=your_region